body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F6F6F6;
  }
  
  /* Ajusta el ancho máximo de la sección del proyecto a 800 píxeles */
  section {
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Ajusta el tamaño de la imagen del proyecto */
  img {
    max-width: 100%;
    height: auto;
  }
  
  /* Cambia el estilo de la lista de características */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /* Cambia el color y tamaño del enlace "Ver código fuente" */
  a {
    color: #333;
    font-size: 18px;
    text-decoration: none;
  }
  
  /* Cambia el estilo del enlace cuando se coloca el cursor encima */
  a:hover {
    text-decoration: underline;
  }