a {
	color: #333;
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

main {
  margin: 20px auto;
  margin-bottom: 60px; /* Ajusta la altura del footer */
  margin-top: 100px; /* Ajusta a la altura del header */
  max-width: 800px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section {
  margin-bottom: 20px;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  margin: 0;
  text-align: center;
}
  
/* Ajusta el tamaño de la imagen del proyecto */
img {
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
  height: auto;
}