main {
    margin-top: 15rem;  /* Ajusta a la altura del header */
    margin-bottom: 2rem; /* Ajusta a la altura del footer */
}

h1 {
    padding: 1rem;
    font-size: 7rem;
    text-align: center;
}

.description {
    padding: 1rem;
    margin: auto;
    font-size: 2.5rem;
    max-width: 50%;
    text-align: left;
}

.trailer {
    padding: 10rem;
    text-align: center;
}

.data {
    min-height: 0vh;
    display: flex;
    flex-direction: row;
}